<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:aop="http://www.springframework.org/schema/aop"
	xsi:schemaLocation="http://www.springframework.org/schema/beans 
     http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
     http://www.springframework.org/schema/aop 
     http://www.springframework.org/schema/aop/spring-aop-3.0.xsd">
	
    <!-- id:bean唯一标识，在spring容器当中引用 -->
	<bean id="duke" class="com.chujun.spring.demo.first.service.impl.Juggler"></bean>
	<!-- new com.chujun.spring.demo.first.service.impl.Juggler(),解析xml文件利用反射创建Bean -->
	
</beans>
