<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
     http://www.springframework.org/schema/beans/spring-beans-3.0.xsd">
         <!--default-init-method="turnOnLights" default-destroy-method="turnOffLights"-->
    <bean id="SpEL" class="com.chujun.spring.demo.first.business.SpEL.SpEL">
        <property name="count" value="#{5}"/>
    </bean>
</beans>
