<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:util="http://www.springframework.org/schema/util"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
     http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
      http://www.springframework.org/schema/util
      http://www.springframework.org/schema/util/spring-util-3.0.xsd">
    <bean id="shape" class="com.chujun.spring.demo.first.domain.Shape">
        <property name="type">
            <null/>
        </property>
        <property name="r" value="12"/>
        <property name="address" value="134.324.@edu.cn"/>
    </bean>
    <bean id="spELExpression" class="com.chujun.spring.demo.first.business.SpELExpression">
        <property name="number" value="#{T(java.lang.Math).random()}"/>
        <!--<property name="comparetor" value="#{T(java.lang.Math).PI>0.5}"/>-->
        <property name="comparetor" value="#{T(java.lang.Math).PI eq 3.14}"/>
        <!--文本型比较运算-->
        <property name="textualComparetor" value="#{1000.0 eq 1000}"/>
        <!--逻辑表达式-->
        <property name="largeCircle" value="#{shape.type == 'circle' and shape.r gt 10}"/>
        <!--否定表达式-->
        <property name="notExpression" value="#{!(shape.type == 'circle')}"/>
        <!--<property name="notExpression" value="#{not (shape.type == 'circle')}"/>-->
        <!--条件表达式-->
        <!-- <property name="conditionExpression" value="#{shape.type==null?'cirlce':shape.type}"/>-->
        <!--条件表达式的简化形式-->
        <property name="conditionExpression" value="#{shape.type?:'cirlce'}"/>
        <!--正则表达式-->
        <property name="matchesExpression" value="#{shape.address matches '[a-zA-Z0-9._%+-]+@[a-zA-Z0-9.-]+\\.com'}"/>
        <!--<property name="chosenCity" value="#{cities[2]}"/>-->
        <!--SpEL操作集合-->
        <!--访问list元素-->
        <property name="chosenCity" value="#{cities[T(java.lang.Math).random()*cities.size()]}"/>
        <!--访问map元素-->
        <property name="chosenCityFromMap" value="#{cityMap['huangshan']}"/>
        <!--访问Properties元素-->
        <property name="pathFromProperties" value="#{myProperties['path']}"/>
        <!--访问配置文件里面元素-->
        <property name="dbNameFromPropertiesFile" value="#{settings['test.dbname']}"/>
        <!--访问systemEnvironment系统环境变量-->
        <property name="javaHome" value="#{systemEnvironment['JAVA_HOME']}"/>
        <!--访问systemProperties系统属性-->
        <property name="userDir" value="#{systemProperties['user.dir']}"/>
        <!--通过[]运算符获得字符串的某个字符-->
        <property name="theChar" value="#{'This is the dog and cat.'[2]}"/>
        <!--查询人口大于1000000的大城市集合-->
        <property name="bigCities" value="#{cities.?[population gt 1000000]}"/>
        <!--查询第一个人口大于1000000的大城市-->
        <property name="firstBigCity" value="#{cities.^[population gt 1000000]}"/>
        <!--查询最后一个人口大于1000000的大城市-->
        <property name="lastBigCity" value="#{cities.$[population gt 1000000]}"/>
        <!--查询所有城市名-->
        <property name="cityNames" value="#{cities.![name]}"/>
        <!--查询所有城市和州名-->
        <property name="cityAndStateNames" value="#{cities.![name+','+state]}"/>
        <!--查询所有大城市名和州名-->
        <property name="bigCityAndStateNames" value="#{cities.?[population gt 1000000].![name+','+state]}"/>
    </bean>

    <!--城市-->
    <bean id="huangshan" class="com.chujun.spring.demo.first.domain.City">
        <property name="name" value="huangshan"/>
        <property name="state" value="anhui"/>
        <property name="population" value="1022203"/>
    </bean>
    <bean id="shanghai" class="com.chujun.spring.demo.first.domain.City">
        <property name="name" value="shanghai"/>
        <property name="state" value="shanghai"/>
        <property name="population" value="18239235"/>
    </bean>
    <bean id="hefei" class="com.chujun.spring.demo.first.domain.City">
        <property name="name" value="hefei"/>
        <property name="state" value="anhui"/>
        <property name="population" value="6782349"/>
    </bean>
    <!--SpEL筛选集合-->
    <util:list id="cities">
        <bean id="chicago" class="com.chujun.spring.demo.first.domain.City">
            <property name="name" value="Chicago"/>
            <property name="state" value="IL"/>
            <property name="population" value="2853232"/>
        </bean>
        <bean id="atlanta" class="com.chujun.spring.demo.first.domain.City">
            <property name="name" value="Atlanta"/>
            <property name="state" value="GA"/>
            <property name="population" value="537932"/>
        </bean>
        <bean id="dallas" class="com.chujun.spring.demo.first.domain.City">
            <property name="name" value="Dallas"/>
            <property name="state" value="TX"/>
            <property name="population" value="1273294"/>
        </bean>
        <bean id="houston" class="com.chujun.spring.demo.first.domain.City">
            <property name="name" value="Houston"/>
            <property name="state" value="TX"/>
            <property name="population" value="2243343"/>
        </bean>
        <bean id="odessa" class="com.chujun.spring.demo.first.domain.City">
            <property name="name" value="Odessa"/>
            <property name="state" value="TX"/>
            <property name="population" value="90352"/>
        </bean>
    </util:list>
    <util:map id="cityMap">
        <entry key="hefei" value-ref="hefei"/>
        <entry key="huangshan" value-ref="huangshan"/>
        <entry key="shanghai" value-ref="shanghai"/>
    </util:map>

    <util:properties id="myProperties">
        <prop key="path">/d/git</prop>
    </util:properties>
    
    <util:properties id="settings" location="classpath:config/jdbc.properties">
    </util:properties>
</beans>
